*{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Yeseva One', cursive; */
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.yeseva-text{
    font-family: 'Yeseva One', cursive;
    color: #333333;
    font-weight: 500;
    padding-left: 10px;
}
.orange-text{
    font-family: 'Yeseva One', cursive;
    color: orange;
    font-weight: 500;
}
p{
    font-size: 14px;
    color: #424242;
}

.person-img img{
    width: 350px;
}
.left-para p{
    margin-right: 150px;
}
.btn{
    background-color: #FF5959;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: normal;
}
.side-line{
    border-left: 3px solid #FF5959;
    border-radius: 1px;
}

.cards{
    width: 80%;
    margin: 0 auto;
}
.cards h1{
    font-weight: bolder;
    font-size: 48px;
}
#blue-text{
    color: #13103A;
    text-align: center;
}
.color-text{
    color: orange;
}
.all-cards{
    display: flex;
    justify-content: space-around;

}
.mission{
    background-color: #EDF5F6;
    border-radius: 20px;
    margin-right: 20px;
}
/* .mission p{
    color: #424242;
} */
.photo-cards img{
    width: 200px;
}
.description{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.vision{
    background-color: #FFEEEE; 
    border-radius: 20px;
    margin-right: 20px;
}
.vision p{
    color: #424242;
}
.goals{
    background-color: #FFF4D6; 
    border-radius: 20px;
    margin-right: 20px;
}
.goals p{
    color: #424242;
}

.coding-img img{
    width: 350px;
    margin-top: 60px;
    margin-left: 130px;
    
}
.right-side{
    margin-left: 60px;
    margin-right: 150px;
}

.bg-shape{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    background-size: 200px 210px;
    background-repeat: no-repeat;
    background-position-y: 105px;
    background-position-x: 40px;
}
.community{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.left-sec{
    margin-left: 130px;
    padding-right: 60px;
    /* padding-bottom: 230px; */
}
.meeting-img img{
    width: 350px;
    margin-right: 150px;
}

.back-shape img{
    position: absolute;
    height: 210px;
    width: 200px;
    right: 50px;
    margin-top: 50px;
    z-index: -1;
}
/* app seection starts */

.optioanl-heading{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-top: -80px;
    padding: 1em;
    
}
.optioanl-heading-2{
    font-size: 40px;
    font-weight: 700;
}
.workout{
    color: #FFAD5A;
}
.workout-app img{
    width: 200px;
}

.app-right-side{
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 80px;
}
.workout-app img{
    margin-left: 10em;
}

.bg-shape-1 img{
    position: absolute;
    height: 140px;
    width: 140px;
    left: 60px;
    top: 132em;
    z-index: -1;
}
.bg-shape-2 img{
    position: absolute;
    height: 70px;
    width: 70px;
    left: 95px;
    top: 154.4em;
    z-index: -1;
}

.bg-shape-3 img{
    position: absolute;
    height: 70px;
    width: 70px;
    left: 17.2em;
    top: 143em;
    z-index: -1;
}
.footer{
    text-align: center;
    background-color: #0B0D17;
    height: 170px;
}
.footer-text{
    font-family: 'Yeseva One', cursive;
    color: white;
    font-weight: 400;
    padding-top: 40px;
}
#footer-p{
    color: #D9DBE1;
    font-family: font-family: 'Manrope', sans-serif;
    font-size: 11px;
}
